{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px / 1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        .card {
            display: grid;
            margin: 3%;
            grid-template-columns: 300px;
            grid-template-rows: 170px 130px 40px;
            grid-template-areas:"image" "text" "stats";

            font-family: roboto;
            border-radius: 15px;
            background: white;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 9);
            text-align: center;

            transition: 0.5s ease;
            cursor: pointer;
        }

        .card-image {
            grid-area: image;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            background-size: cover;
            background-position: bottom
        }

        .card-text {
            grid-area: text;
            margin: 25px;

        }

        .card-text p {
            color: grey;
            font-size: 40px;
            font-weight: 300;
        }

        .card-text h2 {
            margin-top: 0px;
            font-size: 28px;
        }

        .card:hover {
            transform: scale(1.2);
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0, 6);
        }

        .terminer {
            background-color: #AAAAAA;
        }


    </style>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <div class="example-wrapper" style="text-align: center;">
        <h1>OPÉRATIONS</h1>
        <br><br>
    </div>

    <div class="d-flex justify-content-center space-between ">
        <div><span class="badge bg-secondary mx-3">Grosse Opération</span></div>
        <div><span class="badge bg-warning mx-3">Moyenne Opération</span></div>
        <div><span class="badge bg-info mx-3">Petite Opération</span></div>

    </div>

    <div class="d-flex flex-wrap space-between justify-content-center">

        {% for operation in operations %}
            {% if operation.categories.nom == "Petite" and operation.status == false %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://www.nettoyagecanape.fr/images/nettoyage/entreprise-nettoyage-paris.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <form method="post" action="{{ path('app_operations_terminer', {'id': operation.id}) }}"
                              onsubmit="return confirm('Etes-vous sûre de vouloir terminer l\'opération?')">
                            <button type="submit" class="btn btn-info">Terminer opération</button>
                        </form>
                        <a href="#" class="btn btn-outline-info">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-info "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>

            {% elseif operation.categories.nom == "Moyenne" and operation.status == false %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://www.entreprisenettoyage.net/public/upload/img/desinfection-locaux.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <form method="post" action="{{ path('app_operations_terminer', {'id': operation.id}) }}"
                              onsubmit="return confirm('Etes-vous sûre de vouloir terminer l\'opération?')">
                            <button type="submit" class="btn btn-info">Terminer opération</button>
                        </form>
                        <a href="#" class="btn btn-outline-warning">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-warning "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>

            {% elseif operation.categories.nom == "Grande" and operation.status == false %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://objectifpropreteparis.com/wp-content/uploads/2012/07/nettoyage-de-vitres-2.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <form method="post" action="{{ path('app_operations_terminer', {'id': operation.id}) }}"
                              onsubmit="return confirm('Etes-vous sûre de vouloir terminer l\'opération?')">
                            <button type="submit" class="btn btn-info">Terminer opération</button>
                        </form>
                        <a href="#" class="btn btn-outline-secondary">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-secondary "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>
            {% endif %}

            <div class="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ operation.titre }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>{{ operation.description }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Modifier</button>
                            <button type="button" class="btn btn-primary">Terminer</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h1 class="text-center"> Opérations terminées</h1>
    <div class="terminer d-flex flex-wrap space-between justify-content-center">

        {% for operation in operations %}
            {% if operation.categories.nom == "Petite" and operation.status == true %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://www.nettoyagecanape.fr/images/nettoyage/entreprise-nettoyage-paris.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <a href="#" class="btn btn-outline-info">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-info "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>

            {% elseif operation.categories.nom == "Moyenne" and operation.status == true %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://www.entreprisenettoyage.net/public/upload/img/desinfection-locaux.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <a href="#" class="btn btn-outline-warning">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-warning "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>

            {% elseif operation.categories.nom == "Grande" and operation.status == true %}
                <div class="card">
                    <div class="card-image"
                         style="background-image: url('https://objectifpropreteparis.com/wp-content/uploads/2012/07/nettoyage-de-vitres-2.jpg')"></div>
                    <div class="card-text">
                        <h5>{{ operation.titre }}</h5>
                        <a href="#" class="btn btn-outline-secondary">Plus d'informations</a>
                    </div>
                    <div class="class-stats text-white bg-secondary "
                         style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; padding: 10px; font-weight: bold">
                        {{ operation.categories.prix }} €
                    </div>
                </div>
                <br><br>

                <div class="modal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{ operation.titre }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>{{ operation.description }}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary">Modifier</button>
                                <button type="button" class="btn btn-primary">Terminer</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}
