{% extends 'base.html.twig' %}

{% block title %}Opérations{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('card') }}
    {{ encore_entry_link_tags('notyf') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div class="example-wrapper" style="text-align: center;">
        <h1 id="myOperation">{% trans %}MES OPÉRATIONS{% endtrans %}</h1>
        <br><br>
    </div>

    <div class="d-flex justify-content-center space-between ">
        <div><span class="badge bg-secondary mx-3">{% trans %}Grosse Opération{% endtrans %}</span></div>
        <div><span class="badge bg-warning mx-3">{% trans %}Moyenne Opération{% endtrans %}</span></div>
        <div><span class="badge bg-info mx-3">{% trans %}Petite Opération{% endtrans %}</span></div>
    </div>

    <div class="d-flex flex-wrap space-between justify-content-center">

        {% for operation in operations|filter( operation => operation.users == app.user and operation.abort == false)  %}

            {% if  operation.status == false  %}
                {% include "shared/_cardOperations.html.twig" %}
            {% endif %}

            {% include "shared/_modalOperations.html.twig" %}

        {% endfor %}
    </div>
    <h1 class="text-center">{% trans %} Opérations terminées {% endtrans %}</h1>
    <div class="terminer d-flex flex-wrap space-between justify-content-center">

        {% for operation in operations |filter( operation => operation.users == app.user and operation.abort == false) %}
            {% if operation.status == true and operation.finishAt | date('Y') == date() | date('Y')%}

                {% include "shared/_cardOperations.html.twig" %}

            {% endif %}

            {% include "shared/_modalOperations.html.twig" %}

        {% endfor %}

    </div>
    {% block javascripts %}

        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('notyf') }}

    {% endblock %}
{% endblock %}
