{% extends 'base.html.twig' %}

{% block title %}{% trans %}Ajouter une opération{% endtrans %}{% endblock %}

{% block body %}




    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 text-dark">

                            <h1>{% trans %}Ajouter une opération{% endtrans %}</h1>
                            </br>

                            {# attribut qui permet de désactiver le contrôle coté html #}
                            {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                            {{ form_row(form.Client) }}


{#                            <a href="{{ path('app_clients_new') }}" class="btn btn-success mt-3">Ajouter un client</a>#}

                            <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal"
                                    data-bs-target="#modalClient">
                               {% trans %}Ajouter un client{% endtrans %}
                            </button>


                            <br><br>
                            {{ form_row(form.Titre) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.Categories) }}
                            <button class="btn btn-success mt-3">{{ button_label|default('Créer une opération') }}</button>
                            <a href="{{ path('app_operations_index') }}" class="btn btn-warning mt-3">{% trans %}Revenir à la liste
                                des opérations{% endtrans %}</a>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "shared/_modalClients.html.twig" %}
    {% endblock %}














