{% extends 'base.html.twig' %}

{% block title %} {% trans %}Chiffre Affaires {% endtrans %} {% endblock %}

 {% block stylesheets %}
     <style href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></style>
     {{ encore_entry_link_tags('CA') }}
     {{ encore_entry_link_tags('notyf') }}
     {{ encore_entry_link_tags('app') }}
 {% endblock %}
{% block body %}

    <div>
        <form action="{{ path('app_chiffre_affaires')}}" method='post' >
        <label for="name">Taper l'année pour voir les chiffres</label>

        <input type="text" id="name" name="annee"  required
               maxlength="4">
        <input type="submit" class="btn btn-primary">
        </form>
    </div>


<div class="example-wrapper" style="text-align: center; margin-top:30px; margin-bottom: 30px;">
    <h1 id = "chiffre_affaire"> {% trans %} Chiffre d'affaires {% endtrans %} </h1>
</div>
    <div class="CAGlobal ">
        <h2>{% trans %}Chiffre d'affaires des opérations terminées par mois {% endtrans %} - {{ annee }}</h2>
        {{ render_chart(chart2) }}
    </div>

    <div class="d-flex flex-row bd-highlight mb-3 mt-3 justify-content-around" >
<div class="NBGlobal">
    <h2> {% trans %} Chiffre d'affaire par catégories {% endtrans %}- {{ annee }} </h2>
    {{ render_chart(chart) }}
    <br>
</div>

        {% include "shared/_cardCA.html.twig" %}

</div>

    {% include "shared/_notyf.html.twig" %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {{ encore_entry_script_tags('notyf') }}
    {% endblock %}

{% endblock %}
