{% extends 'base.html.twig' %}

{% block title %}{% trans %}Opération{% endtrans %}{% endblock %}

{% block body %}


<div style="margin-left: 30px; margin-right: 30px; margin-bottom: 30px">
    <div class="example-wrapper" style="text-align: center; margin-bottom: 30px;">
    <h1 id="home" style="margin-bottom: 30px">{% trans %}OPÉRATIONS {% endtrans %}</h1>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    
    <table id="table">
        <thead>
        <tr>
            <th>{% trans %}Prénom{% endtrans %}</th>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Rôle{% endtrans %}</th>
            <th>{% trans %}Titre{% endtrans %}</th>
            <th>{% trans %}Clients{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>

                <td>{{ operation.users.nom }}</td>
                <td>{{ operation.users.prenom }}</td>
                <td>   {% if operation.users.roles == ["ROLE_EXPERT","ROLE_USER"] %}
                    EXPERT</td>

                {% elseif operation.users.roles == ["ROLE_SENIOR","ROLE_USER"]%}
                SENIOR
                {% elseif operation.users.roles == ["ROLE_APPRENTI","ROLE_USER"]%}
                {% trans %}APPRENTI{% endtrans %}
                {% endif%}</td>
                <td>{{ operation.titre }}</td>
                <td>{{ operation.client.prenom }}</td>
                <td>{{ operation.categories.nom }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>

    <script type="text/javascript">
        $("#table").dataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"}
        });
    </script>
{% endblock %}