<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% trans %}Bienvenue!{% endtrans %}{% endblock %}
    </title>

    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('navBar') }}
        {{ encore_entry_link_tags('notyf') }}
     {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('style.css') }}">




</head>
<body>

{% include "shared/_navbarStart.html.twig" %}
{% include "shared/_notyf.html.twig" %}


{% block body %}



{% endblock %}

    {% include "shared/_navbarEnd.html.twig" %}
    {% include "shared/_scriptBootstrap.html.twig" %}


{% block javascripts %}

{{ encore_entry_script_tags('app') }}
{{ encore_entry_script_tags('notyf') }}

{% endblock %}



</body>

</html>
