<!DOCTYPE html>
<html>
<<<<<<< HEAD
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
=======
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}

			<link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
		{#{{ encore_entry_link_tags('app') }}#}
>>>>>>> eea28739f6700a4d0579120ea0a8feb51e6e07ef
		{% endblock %}
	</title>
	{# Run `composer require symfony/webpack-encore-bundle`
		           and uncomment the following Encore helpers to start using Symfony UX #}
	{% block stylesheets %}
		<link
				rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
		{# {{ encore_entry_link_tags('app') }} #}
	{% endblock %}

	{% block javascripts %}
		{# {{ encore_entry_script_tags('app') }} #}
	{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">Propar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

<<<<<<< HEAD
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
					{% if is_granted('ROLE_EXPERT') %}
=======
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
                    {% if app.user%}

						{% if is_granted('ROLE_EXPERT') %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_chiffre_affaires')}}">Chiffre d'affaires</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gestion collaborateur</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="{{path('app_users_index')}}">Afficher collaborateur</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{ path('app_register') }}">Ajouter collaborateur</a>
								</div>
							</li>
						{% endif %}
>>>>>>> eea28739f6700a4d0579120ea0a8feb51e6e07ef
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_chiffre_affaires')}}">Chiffre d'affaires</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ path('app_operations_index') }}" role="button" aria-haspopup="true" aria-expanded="false">Gestion des opérations</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="# {#{{ path('app_operations_show', { 'id': operations.id }) }}#}">Afficher une opération</a>
								<a class="dropdown-item" href="{{ path('app_operations_new') }}">Ajouter une opération</a>
						</li>
					{% endif %}

					<li class="nav-item">
						<a class="nav-link" href="#">Mes opérations</a>
					</li>
				{% endif %}
			</ul>

			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						<a href="{{ path('app_logout') }}" class="btn btn-danger">
							Déconnection</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a href="{{ path('app_login') }}" class="btn btn-success">
							Se connecter</a>
					</li>
				{% endif %}
			</ul>


		</div>
	</div>
</nav>


<<<<<<< HEAD
{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
=======
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
>>>>>>> eea28739f6700a4d0579120ea0a8feb51e6e07ef
</html>
