<div>
    <h2> {% trans %} Informations utiles {% endtrans %} </h2>
    <div class="card">
        <div class="additional">
            <div class="user-card">
                <div class="points center">
                    {{ nbOpTermine }}
                </div>
            </div>
            <div class="more-info">
                <div class="stats">
                    <div>
                        <div class="title">{% trans %}Petites opérations {% endtrans %}</div>
                        <div class="value">2</div>
                    </div>
                    <div>
                        <div class="title">{% trans %}Moyennes Opérations {% endtrans %}</div>
                        <div class="value">27</div>
                    </div>
                    <div>
                        <div class="title">{% trans %}Grandes Opérations {% endtrans %}</div>
                        <div class="value">123</div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general">
            <div>
            <h4> {% trans %} Nombre d'opérations terminées {% endtrans %}</h4>
            </div>
        </div>
    </div>
    <div class="card green">
        <div class="additional">
            <div class="user-card">
                <div class="points center">
                    {{ total }} €
                </div>
            </div>
            <div class="more-info">
                <div class="stats semestre">
                    <div>
                        <div class="title t1">{% trans %}Semestre 1{% endtrans %}</div>
                        <div class="value">{{ semestre1 }} €</div>
                    </div>
                    <div>
                        <div class="title t2">{% trans %}Semestre 2{% endtrans %}</div>
                        <div class="value">{{  semestre2 }} €</div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general">
            <div>
                <h4> {% trans %}Chiffres d'affaires annuel -{% endtrans %} {{ annee }}</h4>
            </div>
        </div>
    </div>
    <div class="card orange">
        <div class="additional">
            <div class="user-card">
                <div class="points center">
                    {{ totalEC }}
                </div>
            </div>
            <div class="more-info">
                <div class="stats">
                    <div>
                        <div class="title ">{% trans %}Petites Opérations{% endtrans %}</div>
                        <div class="value">{{ petiteEC }} </div>
                    </div>
                    <div>
                        <div class="title ">{% trans %}Moyennes Opérations{% endtrans %}</div>
                        <div class="value">{{  moyenneEC }} </div>
                    </div>
                    <div>
                        <div class="title t2">{% trans %}Grandes Opérations{% endtrans %}</div>
                        <div class="value">{{  grandeEC }} </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <div class="general">
            <div>
                <h4>{% trans %} Nombre d'opérations en cours {% endtrans %}</h4>
            </div>
        </div>
    </div>
</div>