{% if operation.status == false %}
    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1"
         aria-labelledby="exampleModalLabel{{ loop.index }}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel{{ loop.index }}">{{ operation.titre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ operation.description }}</p>
                </div>
                <div class="modal-footer">

                    {# <button type="button" class="btn btn-primary">Modifier</button> #}
                    <a href="{{ path('app_operations_edit',  { 'id': operation.id }) }}" class="btn btn-primary">{% trans %}Modifier{% endtrans %}</a>

                    <form method="post" action="{{ path('app_operations_terminer', {'id': operation.id}) }}"
                          onsubmit="return confirm('Etes-vous sûre de vouloir terminer l\'opération?')">
                        <button type="submit" class="btn btn-info">{% trans %}Terminer opération{% endtrans %}</button>
                    </form>


                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Fermer{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if operation.status == true %}
    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1"
         aria-labelledby="exampleModalLabel{{ loop.index }}"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel{{ loop.index }}">{{ operation.titre }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ operation.description }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Fermer{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
