{% extends 'base.html.twig' %}

{% block title %}Modification de {{ user.email }}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<h2>Modification de {{ user.nom }} {{ user.prenom }}</h2>

    {{ form_start(formView) }}
    {{ form_row(formView.nom) }}
    {{ form_row(formView.prenom) }}
    {{ form_row(formView.email) }}
    {{ form_row(formView.roles) }}
    <button type="submit" class="btn btn-success">Modifier</button>
    {{ form_end(formView) }}



{% endblock %}