{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register {% endtrans %}{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section class="bg-image">
    <div class="mask d-flex align-items-center gradient-custom-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 col-md-9 col-lg-7 col-xl-7">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5 text-dark">
    <h1>{% trans %}Ajouter un collaborateur{% endtrans %}</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.roles) }}
    <br>
    <button type="submit" class="btn btn-success">{% trans %}Créer un collaborateur{% endtrans %}</button>

    {{ form_end(registrationForm) }}
    <a href="{{ path('app_users_index') }}" class="btn btn-warning mt-3">{% trans %}Revenir à la liste des collaborateurs{% endtrans %}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}