{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Collaborateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td> {% if user.roles == ["ROLE_EXPERT","ROLE_USER"] %}
                    EXPERT</td>

                {% elseif user.roles == ["ROLE_SENIOR","ROLE_USER"]%}
                SENIOR
                {% elseif user.roles == ["ROLE_APPRENTI","ROLE_USER"]%}
                APPRENTI
                {% endif%}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('app_users_index') }}" class="btn btn-warning">Revenir à la liste des collaborateurs</a>
    <a href="{{ path('app_users_edit', {'id': user.id}) }}" class="btn btn-info">Modifier</a>


    {{ include('users/_delete_form.html.twig') }}

{% endblock %}
