{% extends 'base.html.twig' %}

{% block title %}{% trans %} Clients index {% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %} Clients index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %} Id {% endtrans %}</th>
                <th>{% trans %} Nom Société {% endtrans %}</th>
                <th>{% trans %} Prenom {% endtrans %}</th>
                <th>{% trans %} Nom {% endtrans %}</th>
                <th>{% trans %} Adresse {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.nomSociete }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.nom }}</td>
                <td>{{ client.adresse }}</td>
                <td>
                    <a href="{{ path('app_clients_show', {'id': client.id}) }}">{% trans %}Voir {% endtrans %}</a>
                    <a href="{{ path('app_clients_edit', {'id': client.id}) }}">{% trans %}Modifier {% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}Aucune info trouvé {% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clients_new') }}">{% trans %}Créer un nouveau client {% endtrans %}</a>
{% endblock %}
