{% extends 'base.html.twig' %}

{% block title %}New Clients{% endblock %}

{% block body %}

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5 text-dark">
                        <h1>Ajouter un client</h1>
                        </br>


                        {{ form_start(form2, {'attr':{'novalidate':'novalidate'}}) }}
                        {{ form_row(form2.nomSociete) }}
                        {{ form_row(form2.prenom) }}
                        {{ form_row(form2.nom) }}

                        <label for="text" class="form-label mt-4 required">Adresse</label>
                        <input onkeyup="affiche()" type="text" name="adresse" class="form-control" required="required"
                               id="adresse">
                        <div class="form-group" id="api"></div><br>

                        <button class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>

                        {{ form_end(form2) }}

                        <a href="{{ path('app_clients_index') }}" class="btn btn-warning mt-3">Revenir à la liste des opérations</a>

                    </div>
                </div>
            </div>
        </div>
    </div>



    {% block javascripts %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ asset('api.js') }}"></script>
        <script>
            function myFunction() {
                let text = document.getElementById("adresse");
                let copie = document.getElementById("adrs");
                text.value = copie.value;
            }

            function affiche() {
                if (document.getElementById("adresse").value == "") {
                    document.getElementById("api").style.display = "none";
                } else {
                    document.getElementById("api").style.display = "block";
                }
            }
        </script>
    {% endblock %}
{% endblock %}