{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Profil {{ client.nomSociete }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nom de société{% endtrans %}</th>
                <td>{{ client.nomSociete }}</td>
            </tr>
            <tr>
                <th>{% trans %}Prénom{% endtrans %}</th>
                <td>{{ client.prenom }}</td>
            </tr>
            <tr>
                <th>{% trans %}Nom{% endtrans %}</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>{% trans %}Adresse{% endtrans %}</th>
                <td>{{ client.adresse }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('clients/_delete_form.html.twig') }}

    <a href="{{ path('app_clients_edit', {'id': client.id}) }}" class="btn btn-success mt-3">{% trans %}Modifier{% endtrans %}</a>

    <a href="{{ path('app_clients_index') }}" class="btn btn-warning mt-3">{% trans %}Retour à la liste{% endtrans %}</a>


{% endblock %}
